<div class="container-fluid" >

	<div class="container">
		<div class="payment-container">
			<label class="header">Payment Gateway</label>
			
			<form class="container-fluid main-form" id="form">
				<label class="error-message"></label>
				<div class="form-group col-xs-12">
					<label>bank ifsc code <span class="mendatory">*</span></label>
					<%= text_field "details", "bank_ifsc_code", class: "form-control", placeholder: "Enter bank ifsc code", id: "ifsc" %>
				</div>
				<div class="form-group col-xs-12">
					<label>Bank Acc no. <span class="mendatory">*</span></label>
					<%= text_field "details", "bank_account_number", class: "form-control", placeholder: "Enter Bank Acc no.", id: "bank_acc" %>
				</div>
				<div class="form-group col-xs-12">
					<label>Amount ( INR ) <span class="mendatory">*</span></label>
					<%= text_field "details", "amount", class: "form-control", placeholder: "Enter amount", id: "amount" %>
				</div>
				<div class="form-group col-xs-12">
					<label>Merchant Trans. ref <span class="mendatory">*</span></label>
					<%= text_field "details", "merchant_transaction_ref ", class: "form-control", placeholder: "Enter Merchant Trans. ref", id: "mer_trans" %>
				</div>
				<div class="form-group col-xs-12">
					<label>Trans Date <span class="mendatory">*</span></label>
					<%= text_field "details", "transaction_date", class: "form-control", placeholder: "Enter Trans Date", id: "trans_date" %>
				</div>
				<div class="form-group col-xs-12">
					<label>Payment Gateway merchant ref <span class="mendatory">*</span></label>
					<%= text_field "details", "payment_gateway_merchant_reference", class: "form-control", placeholder: "Enter Payment Gateway merchant ref", id: "mer_ref" %>
				</div>

				<div class="form-group submit-button">
					<%= submit_tag "Submit", class: "btn btn-primary", onclick: "return prepareAndEncryptData(true)" %>
				</div>
			</form>
		</div>
	</div>
</div>