.main-form {
	/* margin:5% 37% 0% 34% !important; */
	padding: 12px;
	border-radius: 8px;
	border: 1px solid #000;
}

.mendatory {
	color: red;
}

.main-form .submit-button {
	margin: 0px auto;
	width: 15%;
}

.header {
	display: block;
	font-size: 30px;
    font-weight: bold;
	margin: 0px auto;
    width: 46%;
}

.error-message {
	color: red;
	width: 100%;
}

.payment-container {
	width: 55%;
	height: auto;
	padding: 20px;
	margin: 0px auto;
}